<%= form_with(model: @article, local: true) do |form| %>
    <!-- put/patch "articles/2" -->
    <div class="field">
        <%=form.label :title  %>
        <%=form.text_field :title %>
    </div>

    <div class="field">
        <%=form.label :category_elements  %>
        <div class="row">
            <% @categories.each do |category| %>
                <label class="col-6 col-ms-4">
                    <%= form.check_box :category_elements, {multiple: true}, category.id, nil%> <!--esto ya es un arreglo no en string-->
                    <%= category.title%>
                </label>
            <% end %>
        </div>
        <%# 1,2  con esto busco poner un atributo al articulo que guarde la categoria %>
    </div>

    <!--<div class="field">
        <%=form.label :status %>
        <%=form.number_field :status %>
    </div>-->

    <div class="field">
        <%=form.label :content %>
        <%=form.rich_text_area :content %>
    </div>

    <div>
        <%= form.submit  %>
    </div>

<% end %>


